*{
    margin: 0px;
    padding: 0px;
}

.hjem{
  height: 1400px;
  width: 100%;
}
  
.search-sec{
  height: 600px;
  width: 100%;
  display: block;
}

.exp-sec{
  height: 800px;
  width: 100%;
  background: linear-gradient(to bottom, #83a3b3,#f7f7f7);
}

.search-sec-div{
  position: absolute;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #484848,#9a9a9a,#83a3b3);
}

.redirect{
  position: absolute;
  top: 340px;
  height: 40px;
  width: 24vw;
  left: 38vw;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.browse-div,.publish-div{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.browse, .publish{
  height: 100%;
  width: 90%;
  background-color: #3f82b1;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.browse:hover,.publish:hover{
  background-color:#3f81b100;
  cursor: pointer;
  animation: redirect-col 200ms 1;
}

@keyframes redirect-col {
  0%{
    background-color: #3f82b1;
  }
  100%{
    background-color:#3f81b100;
  }
}

.browse-text,.publish-text{
  color: #c6e7f1;
  font-size: 1.03em;
  font-weight: 400;
  user-select: none;
}


.browse:hover .browse-text, .publish:hover .publish-text{
  animation: redirect-siz 200ms 1;
  font-size: 1.04em;
  font-weight: 450;
}

@keyframes redirect-siz {
  0%{
    font-size: 1.03em;
    font-weight: 400;
  }
  100%{
    font-size: 1.04em;
    font-weight: 450;
  }
}

.searchbar{
  height: 35px;
  width: 40vw;
  background-color:#5c6569;
  border-radius: 20px;
  border-color:#506771;
  border-width: 2px;
  border-style: solid;
  color: #b5d6df;
  outline-width: 0px;
  text-align: center;
  font-size: 1.1em;
  font-weight: 500;
  z-index: 2;
}

.searchbar::placeholder{
  color: #b5d6df;
  font-size: 0.8em;
  font-weight: 400;
  user-select: none;
}

.searchbar:hover{
  animation: searchhover 100ms 1;
  border-color:#668491;
  border-width: 2px;
}
  
@keyframes searchhover {
  0%{
    border-color:#506771;
  }
  100%{
    border-color:#668491;
    border-width: 2px;
  }
}
  
.searchbar:hover::placeholder{
  color: #a4c3cb;
}
  
.searchbar:focus{
  color: #b5d6df;
  font-size: 1.1em;
  font-weight: 500;
}
  
.search-btn{
  height: 32px;
  width: 31px;
  margin-left: -33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  background-color: #5c6569;
  border-left-width: 2px;
  border-left-color: #506771;
  border-left-style: solid;
  z-index: 2;
}
  
.search-btn:hover{
  background-color: #535f64;
  cursor: pointer;
}
  
.search-svg{
  height: 20px;
  width: 20px;
}
  
.search-svg-circle, .search-svg-line{
  stroke: #b5d6df ;
}





@media screen and (max-width: 1000px){
  .redirect{
    width: 36vw;
    left: 32vw;
  }
}

@media screen and (max-width: 800px) {
  .searchbar{
    width: 60vw;
    left: 20vw;
  }


  .redirect{
    width: 40vw;
    left: 30vw;
  }

}

@media screen and (max-width: 600px){
  .redirect{
    width: 60vw;
    left: 20vw;
  }
  
}

@media screen and (max-width: 400px){
  .redirect{
    width: 80vw;
    left: 10vw;
  }

  .searchbar{
    width: 80vw;
    left: 20vw;
  }
}




@media screen and (max-width: 320px) {
  .searchbar{
    width: 86vw;
    left: 7vw;
  }
  .redirect{
    width: 86vw;
    left: 7vw;
  }
}