*{
    margin: 0px;
    padding: 0px;

    --primary-color1:#3f82b1;
    --primary-color2:#484848;
    --primary-color3:#c6e7f1;
    --secondary-color1:#9a9a9a;
    --secondary-color2:#83a3b3;
    --secondary-color3:#f7f7f7;
    --tertiary-color1:#5c6569;
    --tertiary-color2:#506771;
    --tetriary-color3:#668491;
}


.hjem{
  height: 1400px;
  width: 100%;
}
  
.search-sec{
  height: 600px;
  width: 100%;
  display: block;
}

.exp-sec{
  height: 800px;
  width: 100%;
  background: linear-gradient(to bottom, var(--secondary-color2),var(--secondary-color3));
}

.search-sec-div{
  position: absolute;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, var(--primary-color2),var(--secondary-color1),var(--secondary-color2));
}

.redirect{
  position: absolute;
  top: 340px;
  height: 40px;
  width: 24vw;
  left: 38vw;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.browse-div,.publish-div{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.browse, .publish{
  height: 100%;
  width: 90%;
  background-color: var(--primary-color1);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.browse:hover,.publish:hover{
  background-color:#48484800;
  cursor: pointer;
  animation: redirect-col 200ms 1;
}

@keyframes redirect-col {
  0%{
    background-color: var(--primary-color1);
  }
  100%{
    background-color:#48484800;
  }
}

.browse-text,.publish-text{
  color: var(--primary-color3);
  font-size: 1.03em;
  font-weight: 400;
  user-select: none;
}


.browse:hover .browse-text, .publish:hover .publish-text{
  animation: redirect-siz 300ms 1;
  font-size: 1.04em;
  font-weight: 450;
  color: var(--primary-color2);
}

@keyframes redirect-siz {
  0%{
    font-size: 1.03em;
    font-weight: 400;
    color: var(--primary-color3);
  }
  100%{
    font-size: 1.04em;
    font-weight: 450;
    color: var(--primary-color2);
  }
}

.searchbar{
  height: 35px;
  width: 40vw;
  background-color:var(--tertiary-color1);
  border-radius: 20px;
  border-color:var(--tertiary-color2);
  border-width: 2px;
  border-style: solid;
  color: var(--primary-color3);
  outline-width: 0px;
  text-align: center;
  font-size: 1.1em;
  font-weight: 500;
  z-index: 2;
}

.searchbar::placeholder{
  color: #b5d6df;
  font-size: 0.8em;
  font-weight: 400;
  user-select: none;
}

.searchbar:hover{
  animation: searchhover1 100ms 1;
  border-color:var(--tetriary-color3);
  border-width: 2px;
}
  
@keyframes searchhover1 {
  0%{
    border-color:var(--tertiary-color2);
    border-width: 2px;
  }
  100%{
    border-color:var(--tetriary-color3);
    border-width: 2px;
  }
}
  
.searchbar:hover::placeholder{
  color: var(--secondary-color2);
}
  
.searchbar:focus{
  color: var(--primary-color3);
  font-size: 1.1em;
  font-weight: 500;
}
  
.search-btn{
  height: 32px;
  width: 31px;
  margin-left: -33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  background-color: var(--tertiary-color1);
  border-left-width: 2px;
  border-left-color: var(--tetriary-color3);
  border-left-style: solid;
  z-index: 2;
}
  
.search-btn:hover{
  background-color: var(--tertiary-color2);
  cursor: pointer;
}
  
.search-svg{
  height: 20px;
  width: 20px;
}
  
.search-svg-circle, .search-svg-line{
  stroke: var(--primary-color3);
}





@media screen and (max-width: 1000px){
  .redirect{
    width: 36vw;
    left: 32vw;
  }
}

@media screen and (max-width: 800px) {
  .searchbar{
    width: 60vw;
    left: 20vw;
  }


  .redirect{
    width: 40vw;
    left: 30vw;
  }

}

@media screen and (max-width: 600px){
  .redirect{
    width: 60vw;
    left: 20vw;
  }
  
}

@media screen and (max-width: 400px){
  .redirect{
    width: 80vw;
    left: 10vw;
  }

  .searchbar{
    width: 80vw;
    left: 20vw;
  }
}




@media screen and (max-width: 320px) {
  .searchbar{
    width: 86vw;
    left: 7vw;
  }
  .redirect{
    width: 86vw;
    left: 7vw;
  }
}