.loading{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color:none;
}

.loading-svg{
    top: 150px;
    margin-top: 0px;
    height: 500px;
    width: 39%;
    position: fixed;
}

.loading-1{
    animation: loadinganim 1000ms 1000;
    stroke: rgba(24, 129, 204, 0);
}

@keyframes loadinganim {
    0%{
        stroke: rgba(24, 129, 204, 1);
    }

    70%{
        stroke: rgba(24, 129, 204, 0.1)
    }
    85%{
        stroke: rgba(24, 129, 204, 0)
    }
}

.loading-6{
    animation: loadinganim2 1000ms 1000;
    fill:rgba(24, 129, 204, 0);
}

@keyframes loadinganim2 {
    0%{
    fill: rgba(24, 129, 204, 0);
    }

    5%{
        fill: rgba(24, 129, 204, 0);
    }

    20%{
    fill: rgba(24, 129, 204, 1);
    }
    
    85%{
        fill: rgba(24, 129, 204, 1,0.1);
    }

    95%{
        fill: rgba(24, 129, 204, 0);
    }
}

.loading-7{
    animation: loadinganim3 1000ms 1000;
    fill:rgba(24, 129, 204, 0);
}

@keyframes loadinganim3 {
    0%{
        fill: rgba(24, 129, 204, 0);
    }
    
    15%{
        fill: rgba(24, 129, 204, 0);
    }
    
    40%{
        fill: rgba(24, 129, 204, 1);
    }
    
    95%{
        fill: rgba(24, 129, 204, 1,0.1);
    }

    100%{
        fill: rgba(24, 129, 204, 0);
    }
}
