body{
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    background-color: var(--secondary-color1);
    width: 8px;
    position: fixed;
}
body::-webkit-scrollbar-thumb{
    background-color: var(--primary-color1);
}

body::-webkit-scrollbar-thumb:hover{
    background-color: var(--primary-color1);
}


.navbar{
    height: 72px;
    width: 100vw;
    position: absolute;
    z-index: 4;
    background-color: var(--primary-color2);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.empty{
    display: none;
}

.logo{
    height: 72px;
    grid-column: 1 / span 1;
    position: relative;
    z-index: 2;
}

.navbar-right{
    width: 100%;
    height: 100%;
    display: grid;
    position: absolute;
    grid-column: 2 / span 4;
    grid-template-columns: repeat(6,1fr);
}

.navlist{
    grid-column: 2/ span 4;
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.login-signup-btn-nav{
    width: 100%;
    height: 100%;
    position: absolute;
    grid-column: 6 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo:hover{
    cursor: pointer;
}

.logo-svg{
    height: 100%;
    width: 120px;
    float: left;
    margin-left: 25px;
}

.svg-elem-1{
    animation: logoanime 600ms linear 1;
    stroke: #1881CC;
}

@keyframes logoanime {
    0%{
    stroke: none;
    }
    50%{
    stroke: none;
    }
    87%{
    stroke: rgba(24, 129, 204, 0.2);
    }
    100%{
    stroke: rgba(24, 129, 204, 1);
    }
}

.svg-elem-6{
    stroke: rgba(24, 129, 204, 1);
    animation: logoanime2 200ms linear 1;
    fill:rgba(24, 129, 204, 1);
}

@keyframes logoanime2 {
    0%{
    stroke: none;
    fill: none;
    }
    50%{
    stroke: rgba(24, 129, 204, 0.2);
    fill: rgba(24, 129, 204, 0.2);
    }
    100%{
    stroke: rgba(24, 129, 204, 1);
    fill: rgba(24, 129, 204, 1);
    }
}

.svg-elem-7{
    stroke: rgba(24, 129, 204, 1);
    animation: logoanime3 400ms linear 1;
    fill:rgba(24, 129, 204, 1);
}

@keyframes logoanime3 {
    0%{
    stroke: none;
    fill: none;
    }
    50%{
    stroke: none;
    fill: none;
    }
    75%{
    stroke: rgba(24, 129, 204, 0.2);
    fill: rgba(24, 129, 204, 0.2);
    }
    100%{
    stroke: rgba(24, 129, 204, 1);
    fill: rgba(24, 129, 204, 1);
    }
}

.navelem{
    grid-column: 1fr;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-width: 3px;
    border-bottom-color: var(--primary-color1);
    border-bottom-style: solid;
    box-sizing: border-box;
}

.nav-text{
    color: var(--primary-color3);
    font-size: 1.1em;
    font-weight: 500;
    user-select: none;
}

@keyframes change-color {
    0%{
        color:var(--primary-color3);
    }
    100%{
        color:var(--secondary-color2);
    }
}

.navelem:hover{
    cursor: pointer;
    border-bottom-width: 1.5px;
    border-bottom-color: var(--primary-color1);
    border-bottom-style: solid;
    box-sizing: border-box;
}

.navelem:hover .nav-text{
    color: var(--secondary-color2);
    animation: change-color 150ms 1;
}

.courses:hover{
    border-bottom-width: 0px;
}

.course-div{
    display: none;
}

.courses:hover .course-div{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    position: absolute;
    top: 69px;
    height: 80px;
    width: 25%;
    background-color: var(--primary-color2);
    border-width: 2px;
    border-color: var(--primary-color1);
    border-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    animation: bigger-courses 300ms 1;
}

@keyframes bigger-courses {
    0%{
        top: 30px;
        transform:scaleY(0);
    }

    100%{
        top: 70px;
        transform:scaleY(1);
    }
    
}

.course-elem{
    grid-row: 1fr;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.course-text{
    color: var(--primary-color3);
    font-size: 1.1em;
    font-weight: 500;
    user-select: none;
}

.course-elem:hover .course-text{
    color: var(--secondary-color2);
    animation: change-color 150ms 1;
}


.login-signup-btn-nav-box{
    width: 100px;
    height: 50%;
    background-color: #3f82b1;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.login-signup-btn-nav-text{
    color: #c6e7f1;
    font-size: 0.9em;
    font-weight: 450;
    user-select: none;
}

@keyframes change-size {
0%{
    font-size: 0.9em;
    font-weight: 450;
}
100%{
    font-size: 0.95em;
    font-weight: 470;
}
}

.login-signup-btn-nav-box:hover .login-signup-btn-nav-text{
    font-size: 0.95em;
    font-weight: 470;
    animation: change-size 200ms 1;
    user-select: none;
}

@keyframes change-color2 {
0%{
    background-color:#3f82b1;
}
100%{
    background-color:#3f81b147;
}
}

.login-signup-btn-nav-box:hover{
    background-color:#3f81b100;
    cursor: pointer;
    animation: change-color2 200ms 1;
}

.burger-meny-div{
    display: none;
}
.burger-meny-nav{
    display: none;
}

.burger-navelem{
    display: none;
}


@media screen and (max-width: 800px) {
    

    .navbar-right{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .burger-meny-div{
        display: flex;
        grid-column: 1 / span 3;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .burger-meny{
        height: 100%;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @keyframes burger-meny-anim2 {
        0%{
        transform: rotate(90deg);
        }
        100%{
        transform: rotate(0);
        }
    }

    .burger-meny-svg{
        height: 100%;
        width: 100%;
        z-index: 2;
    }

    @keyframes burger-meny-anim1 {
        0%{
        transform: rotate(0deg);
        }
        100%{
        transform: rotate(90deg);
        }
    }

    .login-signup-btn-nav{
        display: flex;
        grid-column: 4 / span 1;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .navlist{
        position: absolute;
        right: 0vw;
        height: 100vh;
        width: 100vw;
        background-color: var(--secondary-color2);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
    }

    .empty{
        grid-row: 1 / span 1;
    }

    .courses{
        grid-row: 2 / span 2;
    }

    .students{
        grid-row: 4 / span 2;
    }

    .tutors{
        grid-row: 6 / span 2;
    }

    .about{
        grid-row: 8 / span 2;
    }

    .navelem{
        border-top-width: 4px;
    }


    @keyframes ned-burger {
        0%{
            transform: translateY(-100vh);
        }
        100%{
            transform: translateY(0px);
        }
    }

    @keyframes opp-burger {
        0%{
            transform: translateY(100vh);
        }
        100%{
            transform: translateY(0vh);
        }
    }

    
}

@media screen and (max-width: 600px){
    .navbar-right{
        display: grid;
        grid-template-columns: repeat(9, 1fr);
    }

    .navlist{
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: var(--secondary-color2);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
    }
    

    .logo{
        margin-left: -10px;
    }

    .burger-meny-div{
        grid-column: 1 / span 6;
    }

    .login-signup-btn-nav{
        grid-column: 7 / span 3;
    }
}

@media screen and (max-width: 500px) {
    .logo-svg{
      width: 100px;
      margin-right: -10px;
    }

  
    .burger-meny{
      width: 35px;
      margin-left: 20px;
    }

    .login-signup-btn-nav-box{
        width: 100%;
        height: 45%;
        margin-right: 10px;
    }
  
    .login-signup-btn-nav-text{
      font-size: 0.8em;
      font-weight: 500;
      text-align: center;
    } 
}

@media screen and (max-width: 400px){
    .navbar-right{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .burger-meny-div{
        grid-column: 1 / span 1;
    }

    .login-signup-btn-nav{
        grid-column: 2 / span 1;
    }

    .burger-meny{
        margin-left: 18px;
    }

    .logo-svg{
        width: 95px;
        margin-right: -5px ;
    }

    .login-signup-btn-nav-text{
        font-size: 0.7em;
        font-weight: 400;
    }

    .login-signup-btn-nav-box{
        width: 80px;
        height: 40%;
        border-radius: 5px;
    }
}

@media screen and (max-width: 280px){
    .logo-svg{
        width: 75px;
    }

    .login-signup-btn-nav-text{
        font-size: 0.55em;
        font-weight: 350;
    }

    .login-signup-btn-nav-box{
        width: 65px;
        height: 32%;
        border-radius: 5px;
    }

    .burger-meny{
        width: 27px;
        margin-left: 10px;
    }
}

