*{
    --primary-color1:#3f82b1;
    --primary-color2:#484848;
    --primary-color3:#c6e7f1;
    --secondary-color1:#9a9a9a;
    --secondary-color2:#83a3b3;
    --secondary-color3:#f7f7f7;
    --tertiary-color1:#5c6569;
    --tertiary-color2:#506771;
    --tetriary-color3:#668491;
}


.navbar{
    background-color: none;
    height: 72px;
    width: 100vw;
    position: absolute;
    z-index: 4;
}


.logo{
    height: 72px;
    width: 20vw;
    position: relative;
    float: left;
}

.logo:hover{
    cursor: pointer;
}

.logo-svg{
    height: 100%;
    width: 120px;
    float: left;
    margin-left: 25px;
}

.svg-elem-1{
    animation: logoanime 600ms linear 1;
    stroke: #1881CC;
}

@keyframes logoanime {
    0%{
    stroke: none;
    }
    50%{
    stroke: none;
    }
    87%{
    stroke: rgba(24, 129, 204, 0.2);
    }
    100%{
    stroke: rgba(24, 129, 204, 1);
    }
}

.svg-elem-6{
    stroke: rgba(24, 129, 204, 1);
    animation: logoanime2 200ms linear 1;
    fill:rgba(24, 129, 204, 1);
}

@keyframes logoanime2 {
    0%{
    stroke: none;
    fill: none;
    }
    50%{
    stroke: rgba(24, 129, 204, 0.2);
    fill: rgba(24, 129, 204, 0.2);
    }
    100%{
    stroke: rgba(24, 129, 204, 1);
    fill: rgba(24, 129, 204, 1);
    }
}

.svg-elem-7{
    stroke: rgba(24, 129, 204, 1);
    animation: logoanime3 400ms linear 1;
    fill:rgba(24, 129, 204, 1);
}

@keyframes logoanime3 {
    0%{
    stroke: none;
    fill: none;
    }
    50%{
    stroke: none;
    fill: none;
    }
    75%{
    stroke: rgba(24, 129, 204, 0.2);
    fill: rgba(24, 129, 204, 0.2);
    }
    100%{
    stroke: rgba(24, 129, 204, 1);
    fill: rgba(24, 129, 204, 1);
    }
}

.navbar-right{
    width: 80vw;
    height: 100%;
    position: relative;
    float: right;
}

.navlist{
    width: 40vw;
    height: 100%;
    position: relative;
    float: left;
    margin-left: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.navelem{
    grid-column: 1fr;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hover-sec{
display: none;
}

.hover-sec:hover{
    cursor:auto;
}

.courses:hover .hover-sec, .students:hover .hover-sec, .tutors:hover .hover-sec{
animation: hover-sec-ann 200ms 1 ;
display: grid;
position: absolute;
background-color: var(--tertiary-color1);
top: 72px;
width: 31vw;
height: 150px;
border-radius: 10px;
}

@keyframes hover-sec-ann {
0%{
    background-color: #5c656900;
}
50%{
    background-color: #5c656934;
}
100%{
    background-color: #5c6569;
}
}

.courses:hover .hover-sec-courses{
grid-template-columns:repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
}

.students:hover .hover-sec-students{
grid-template-columns:repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
}

.tutors:hover .hover-sec-tutors{
grid-template-rows: repeat(3, 1fr);
}

.courses-elem{
display: flex;
align-items: center;
justify-content: center;
}

.students-elem{
display: flex;
align-items: center;
justify-content: center;
}

.tutors-elem{
display: flex;
align-items: center;
justify-content: center;
}

.courses-elem-text, .students-elem-text, .tutors-elem-text{
    color: var(--primary-color3);
    animation: change-color6 800ms 1;
    font-size: 0.98em;
    font-weight: 500;
    user-select: none;
}

@keyframes change-color6 {
    0%{
        color:#b5d6df00;
    }
    100%{
        color:var(--primary-color3)
    }
}

.courses-elem:hover, .students-elem:hover, .tutors-elem:hover{
    cursor: pointer;
}

.courses-elem:hover .courses-elem-text, .students-elem:hover .students-elem-text, .tutors-elem:hover .tutors-elem-text{
    color: var(--primary-color2);
    animation: change-color5 150ms 1;
}

@keyframes change-color5 {
    0%{
        color:var(--primary-color3);
    }
    100%{
        color:var(--primary-color2);
    }
}


.courses:hover .hover-sec{
left: 4.5vw;
}

.tutors:hover .hover-sec{
right: 4.5vw;
}

.hover-rect-svg{
display: none;
}

.courses:hover .hover-rect-svg, .students:hover .hover-rect-svg, .tutors:hover .hover-rect-svg{
    display: block;
    position: absolute;
    top: 45px;
    fill: #5c6569;
}

.hover-rect{
animation: hover-rect-ann 200ms 1;
fill:#5c6569 ;
}

@keyframes hover-rect-ann {
0%{
    fill: #5c656900;
}
50%{
    fill: #5c656934;
}
100%{
    fill: #5c6569;
}
}


.nav-text{
color: #b5d6df;
font-size: 1.1em;
font-weight: 500;
user-select: none;
}

@keyframes change-color {
    0%{
        color:#b5d6df;
    }
    100%{
        color:#5c6569
    }
}

.navelem:hover .nav-text{
    color: #5c6569;
    animation: change-color 150ms 1;
}

.login-signup-btn-nav{
    width: 30vw;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.login-signup-btn-nav-box{
    width: 100px;
    height: 50%;
    background-color: #3f82b1;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 25px;
}

.login-signup-btn-nav-text{
    color: #c6e7f1;
    font-size: 0.9em;
    font-weight: 450;
    user-select: none;
}

@keyframes change-size {
0%{
    font-size: 0.9em;
    font-weight: 450;
}
100%{
    font-size: 0.95em;
    font-weight: 470;
}
}

.login-signup-btn-nav-box:hover .login-signup-btn-nav-text{
font-size: 0.95em;
font-weight: 470;
animation: change-size 200ms 1;
user-select: none;
}

@keyframes change-color2 {
0%{
    background-color:#3f82b1;
}
100%{
    background-color:#3f81b147;
}
}

.login-signup-btn-nav-box:hover{
background-color:#3f81b100;
cursor: pointer;
animation: change-color2 200ms 1;
}

.burger-meny-div{
display: none;
}
.burger-meny-nav{
display: none;
}

.burger-navelem{
display: none;
}

.pil_ned-svg{
    position: relative;
    margin-left: 4px;
    margin-top: 6.5px;
}

.pil_ned{
    fill: #9bb4bd;
}


.courses:hover .pil-courses, .students:hover .pil-students, .tutors:hover .pil-tutors{
    fill: #535353;
}


@media screen and (max-width: 800px) {
    .navlist{
    display: none;
    }

    .burger-meny-div{
        display: flex;
        width: 40vw;
        height: 100%;
        position: relative;
        float: left;
        margin-left: 10vw;
        align-items: center;
        justify-content: center;
    }
    .burger-meny{
        height: 100%;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @keyframes burger-meny-anim2 {
        0%{
        transform: rotate(90deg);
        }
        100%{
        transform: rotate(0);
        }
    }

    .burger-meny-svg{
        height: 100%;
        width: 100%;
    }

    @keyframes burger-meny-anim1 {
        0%{
        transform: rotate(0deg);
        }
        100%{
        transform: rotate(90deg);
        }
    }


    .burger-meny-nav{
        /*display: grid;*/
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: #484848;
        z-index: 3;
        grid-template-rows: repeat(17, 1fr);
    }

    @keyframes burger-opp {
        0%{
        transform: translateY(0vh);
        }
        100%{
        transform: translateY(-100vh);
        }
    }

    @keyframes burger-ned {
        0%{
        transform: translateY(-100vh);
        }
        100%{
        transform: translateY(0vh);
        }
    }

    .burger-hover-sec{
        display: none;
    }

    .empty{
        grid-row: 1 / span 2;
    }

    .burger-courses{
        grid-row: 3 / span 5;
    }

    .burger-students{
        grid-row: 8 / span 5;
    }
    .burger-tutors{
        grid-row: 13 / span 5;
    }

    .burger-navelem{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .burger-nav-text-div{
        display: flex;
        width: 99%;
        height: 99%;
        border-radius: 2px;
        border-width: 2px;
        border-style: solid;
        border-color: #506771;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
    }
    .burger-nav-text{
        color: #b5d6df;
        font-size: 1.1em;
        font-weight: 500;
        user-select: none;
    }

    .burger-courses:hover .burger-hover-sec-courses{
        display: grid;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0vh;
        grid-template-rows: repeat(21, 1fr);
        z-index: 3;
        background-color:#484848;
        animation: course-elem-anim 400ms 1;
    }

    @keyframes course-elem-anim {
        0%{
        transform: translateX(100vw);
        }
        100%{
        transform: translateX(0px);
        }
    }

    .empty-courses-elem{
        grid-row: 1 / span 3;
    }
    .burger-courses-elem{
        grid-row: span 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger-text-div{
        display: flex;
        width: 98%;
        height: 99%;
        border-radius: 2px;
        border-width: 2px;
        border-style: solid;
        border-color: #506771;
        justify-content: center;
        align-items: center;
    }

    .burger-courses-elem-text, .burger-students-elem-text, .burger-tutors-elem-text{
        font-size: 1.1em;
        color: #b5d6df;
        text-align: center;
    }

    .burger-students:hover .burger-hover-sec-students{
        display: grid;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0vh;
        grid-template-rows: repeat(15, 1fr);
        z-index: 3;
        background-color:#484848;
        animation: course-elem-anim 400ms 1;
    }

    .empty-students-elem{
        grid-row: 1 / span 3;
    }

    .burger-students-elem{
        grid-row: span 2;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .burger-tutors:hover .burger-hover-sec-tutors{
        display: grid;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0vh;
        grid-template-rows: repeat(5, 1fr);
        z-index: 3;
        background-color:#484848;
        animation: course-elem-anim 400ms 1;
    }

    .burger-tutors-elem{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 370px) {
    .logo-svg{
      height: 100%;
      width: 100px;
      float: left;
      margin-left: 0px;
    }
  
    .burger-meny{
      height: 100%;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .burger-meny-svg{
      height: 100%;
      width: 100%;
    }
  
    .login-signup-btn-nav-text{
      color: #c6e7f1;
      font-size: 0.8em;
      font-weight: 500;
      user-select: none;
    }
    
    .login-signup-btn-nav-box{
      width: 100px;
      height: 40%;
      background-color: #3f82b1;
      border-radius: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
      float: right;
      margin-right: 5px;
    }
}

@media screen and (max-width: 320px){
    .logo-svg{
        width: 95px;
    }

    .login-signup-btn-nav-text{
        font-size: 0.7em;
        font-weight: 400;
    }

    .login-signup-btn-nav-box{
        width: 90px;
        height: 36%;
    }
}

@media screen and (max-width: 260px){
    .logo-svg{
        height: 100%;
        width: 85px;
    }

    .login-signup-btn-nav-text{
        font-size: 0.6em;
        font-weight: 350;
    }

    .login-signup-btn-nav-box{
        width: 80px;
        height: 36%;
    }
}

