

.search-hjem{
    width: 100%;
    height: 1070px;
    background-color: var(--primary-color2);
}

.search-div{
    position: absolute;
    display: flex;
    top: 70px;
    width: 100%;
    height: 2000px;
    /*background:linear-gradient(to bottom, #484848,#848484);*/
    background-color: #b4c5cd;
}


.search-nav-div{
    height: 60px;
    width: 100%;
    display: flex;
    background: var(--primary-color2);
    align-items: center;
    justify-content: center;
}

.search-result-div{
    position: absolute;
    top: 60px;
    height:1940px;
    width: 100%;
}

.search-nav{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.price{
    height: 100%;
    grid-column: 1 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating{
    height: 100%;
    grid-column: 2 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pil-ned-sort{
    display: none;
}

.search-nav-center{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3 / span 3;
}

.sort{
    height: 100%;
    grid-column:  6/ span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topic{
    height: 100%;
    grid-column: 7 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}



.price-disp, .rating-disp{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.price-text, .rating-text{
    color: var(--primary-color3);
    animation: change-color6 300ms 1;
    font-size: 1.08em;
    font-weight: 500;
    user-select: none;
}

@keyframes change-color6 {
    0%{
        color:var(--secondary-color1);
    }
    100%{
        color:var(--primary-color3);
    }
}

.price-disp:hover .price-text, .rating-disp:hover .rating-text{
    color: var(--secondary-color1);
    animation: change-color5 300ms 1;
}

@keyframes change-color5 {
    0%{
        color:var(--primary-color3);
    }
    100%{
        color:var(--secondary-color1);
    }
}



.searchbar-div{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.searchbar-input{
    height: 35px;
    width: 100%;
    background-color:var(--tertiary-color1);
    border-radius: 20px;
    border-color:var(--tertiary-color2);
    border-width: 2px;
    border-style: solid;
    color: var(--primary-color3);
    outline-width: 0px;
    text-align: center;
    font-size: 0.9em;
    font-weight: 500;
}

.searchbar-input::placeholder{
    color: var(--primary-color3);
    font-size: 0.95em;
    font-weight: 400;
}

.searchbar-input:hover{
    border-color:var(--tertiary-color2);
    border-width: 3px;
    border-style: solid;
}

.searchbar-input:hover::placeholder{
    color: var(--secondary-color2);
}

.searchbar-input:focus{
    color: var(--primary-color3);
    font-size: 0.9em;
    font-weight: 500;
}

.searchbar-btn-div{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: -2px;
}

.searchbar-btn{
    height: 34px;
    width: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    background-color: var(--tertiary-color1);
    border-left-width: 2px;
    border-left-color: var(--tetriary-color3);
    border-left-style: solid;
    position: absolute;
}

.searchbar-btn:hover{
    background-color: var(--tertiary-color2);
    cursor: pointer;
}
    
.searchbar-svg{
    height: 20px;
    width: 20px;
}
    
.searchbar-svg-circle, .searchbar-svg-line{
    stroke: var(--primary-color3) ;
}

.sort-select, .topic-select{
    background-color: var(--tertiary-color1);
    height: 30px;
    width: 80%;
    color: var(--primary-color3);
    font-size: 0.9em;
    font-weight: 500;
    text-align: center;
    border-radius: 3px;
    border-color: var(--tertiary-color2);
    border-style: solid;
    border-width: 2px;
    outline-width: 0px;
}


.sort-select{
    margin-left: 15px;
}

.topic-select{
    margin-right: 5px;
}


.price-div, .rating-div{
    position:absolute;
    height: 100px;
    top: 60px;
    width: 15%;
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--primary-color2);
    z-index: 2;
    animation: filter-anim 300ms 1;
}

@keyframes filter-anim {
    0%{
        top: 10px;
        transform: scaleY(0.1);
    }
    100%{
        top: 60px;
        transform: scaleY(1);
    }
}

.price-input-div, .rating-input-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.confirm-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.confirm-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    background-color: var(--primary-color1);
}

.confirm-btn-text{
    color: var(--primary-color3);
    font-size: 0.9em;
    font-weight: 450;
    user-select: none;
}

.confirm-div:hover .confirm-btn{
    cursor: pointer;
}


.min_price, .max_price, .min_rating, .max_rating{
    background-color:var(--tertiary-color1);
    height: 28px;
    width: 80%;
    outline-width: 0px;
    border-radius: 5px;
    border-color:var(--tertiary-color2);
    border-width: 2px;
    border-style: solid;
    color: var(--primary-color3);
    outline-width: 0px;
    text-align: center;
    font-size: 0.8em;
    font-weight: 450;
}

.min_price::placeholder, .max_price::placeholder,.min_rating::placeholder,.max_rating::placeholder {
    color: var(--primary-color3);
    text-align: center;
    font-size: 0.9em;
    font-weight: 450;
}






.search-result{
    height: 1940px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.result-div{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.result-elem-div{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: span 1;
    grid-column: span 1;
}

.result-elem{
    grid-row: 1fr;
    grid-column: 1fr;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    height: 85%;
    width: 85%;
    background:#1f4b69;
    box-shadow: 0 0 5px 3px var(--secondary-color2);
    border-radius: 15px;
}

.result-elem:hover{
    cursor: pointer;
}


.course-img{
    margin-bottom: 3px;
    height: 100%;
    width: 100%;
    grid-row: 1 / span 1;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.course-inf{
    height: 100%;
    width: 100%;
    display: grid;
    grid-row: 2 / span 1;
    grid-template-rows: repeat(5, 1fr);
}

.course-hoved-inf{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-row: 1 / span 2;
}

.course-sub-inf{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    grid-row: 3/ span 3;
}

.desc{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc-text{
    font-size: 1.04em;
    font-weight: 500;
    text-align: center;
    color:var(--secondary-color3);
}


.name{
    grid-row: span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.name-text{
    font-size: 1.1em;
    font-weight: 550;
    color:var(--secondary-color3);
}


.pogr{
    grid-row: span 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    width: 80%;
    position: relative;
    left: 10%;
}

.result-price, .result-rating{
    grid-column: span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-price-text,.result-rating-text{
    font-size: 1.08em;
    font-weight: 500;
    color:var(--secondary-color3);
}

.stjerne-svg{
    height: 20px;
    width: 20px;
}
.stjerne{
    fill: var(--primary-color1);
}



.loading{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.loading-text{
    font-size: 3em;
    font-weight: 700;
}

.page-nav{
    width: 100vw;
    height: 50px;
    margin-top: 50px;
    position: absolute;
    top:1950px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 550;
    background-color: #b4c5cd;
}

.course-exist{
    position: absolute;
    top: 150px;
    font-size: 1.5em;
    font-weight: 500;
    color:var(--primary-color2);
}




.page-number{
    background-color: var(--primary-color2);
    color: var(--primary-color3);
    height: 40px;
    width: 40px;
    font-size: 1.3em;
    font-weight: 450;
    text-align: center;
    border-radius: 20px;
}

.selected-page-number{
    background-color: var(--tertiary-color1);
    color: var(--secondary-color2);
}

.page-number:hover{
    cursor: pointer;
    background-color: var(--tertiary-color1);
    color: var(--secondary-color2);
}


@media screen and (max-width: 830px) {
    .search-div{
        height: 4000px;
    }
    .search-result-div{
        height:3940px;
    }

    .search-result{
        height: 3940px;
    }

    .result-div{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }

    .result-elem{
        height: 80%;
        width: 80%;
        grid-template-rows: repeat(2,1fr);
    }
    .course-img{
        grid-row: 1 / span 1;
    }
    .course-inf{
        display: grid;
        grid-row: 2 / span 1;
        grid-template-rows: repeat(5, 1fr);
    }
    .course-hoved-inf{
        grid-row: 1 / span 2;
    }
    
    
    .course-sub-inf{
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        grid-row: 3/ span 3;
    }
    .desc{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .desc-text{
        font-size: 1.04em;
        font-weight: 500;
        text-align: center;
        color:#c1c1c1;
    }

    .page-nav{
        top:3950px;
        margin-top: 15px;
    }

    .page-number{
        height: 30px;
        width: 30px;
        font-size: 1.1em;
        font-weight: 400;
        border-radius: 15px;
    }

    .result-elem:hover{
        height: 80%;
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .search-div{
        height: 5500px;
    }

    .search-result-div{
        height:5380px;
        top: 120px;
    }

    .search-result{
        height: 5380px;
    }
    .result-div{
        top: 0px;
    }
    .page-nav{
        top:5450px;
    }
    .result-div{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(15, 1fr);
    }

    .page-number{
        height: 25px;
        width: 25px;
        font-size: 1.05em;
        font-weight: 400;
        border-radius: 12px;
    }
}

@media screen and (max-width: 600px) {

    .search-nav-div{
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .search-nav{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .search-nav-center{
        height: 100%;
        width: 100%;
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sort{
        height: 100%;
        width: 100%;
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }
    .topic{
        height: 100%;
        width: 100%;
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }

    .price{
        height: 100%;
        width: 100%;
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .rating{
        height: 100%;
        width: 100%;
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .searchbar-div{
        display: flex;
        height: 100%;
        width: 80%;
        align-items: center;
        justify-content: center;
    }

    .searchbar-input{
        height: 30px;
        width: 100%;
    }
    .searchbar-btn{
        height: 30px;
        width: 25px;
    }

    .sort-select, .topic-select{
        height: 28px;
        width: 70%;
    }
    
    
    .sort-select{
        margin-left: 10%;
    }
    
    .topic-select{
        margin-right: 10%;
    }

    .price-text, .rating-text{
        margin-bottom: 5px;
    }

    .pil-ned-sort{
        display: block;
        margin-left: 5px;
        height: 12px;
        width: 12px;
    }

    .price:hover .pil-ned-sort, .rating:hover .pil-ned-sort{
        animation: pil-ned-anim 300ms 1;
        transform: rotateX(180deg);
        transform: rotateZ(180deg);
        margin-bottom: 5px;
    }

    @keyframes pil-ned-anim {
        0%{
            transform: rotateX(0deg);
            transform: rotateZ(0deg);
        }
        100%{
            transform: rotateX(180deg);
            transform: rotateZ(180deg);
            margin-bottom: 5px;
        }
    }

    .price:hover .pil_ned, .rating:hover .pil_ned{
        fill:var(--secondary-color1) ;
    }

    .price-div, .rating-div{
        position:absolute;
        height: 100px;
        top: 120px;
        width: 50%;
        animation: filter-anim2 300ms 1;
    }

    @keyframes filter-anim2 {
        0%{
            top: 60px;
            transform: scaleY(0.1);
        }
        100%{
            top: 120;
            transform: scaleY(1);
        }
    }

    .min_price, .max_price, .min_rating, .max_rating{
        width: 80%;
    }

    
}


@media screen and (max-width: 450px) {
    .search-div{
        height: 12000px;
    }

    .search-result-div{
        height:11880px;
    }

    .search-result{
        height: 11880px;
    }
    .result-div{
        top: 0px;
    }
    .page-nav{
        top:11950px;
    }
    .result-div{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(30, 1fr);
    }
    .page-number{
        height: 20px;
        width: 20px;
        font-size: 1em;
        font-weight: 400;
        border-radius: 9px;
    }
}

